a {
 text-decoration: none;
 }

img {
max-width: 100%;
}

 body {
   font-family: "Times New Roman", Times, serif;
 }

 a {
   color: red;
 }


/*************************************
HEADING
**************************************/

header {
  float: center;
  margin: 0 0 20px 0;
  padding: 2px 0 0 0;
  width: 100%;

}

 h1  {
 font-family: "Times New Roman", Times, serif;
 margin: 12px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;
 color: #FFA500;
 }

/*************************************
NAVIGATION
**************************************/
 nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  }

  nav ul  {
    list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
  display: inline-block;

}

/*************************************
PAGE:
**************************************/
.mydiv {background: black; width:250px; height: 250px;}

.myimage {
    float:left;
    width:150px;
    height:175px;
    margin:20px;
    border-radius: 20px;
}

/*************************************
COLORS
**************************************/

 /* red header*/
  header {
   background: #6ab47b;
   border-color: #FFA500;
 }

 h1  {
    color: red;
}

h2  {
    color: Black;
}

/* nav background on mobile devices*/
nav {
   background: black;
}

nav a, nav a:visited {
	color: red;
}

/* selected nav link color*/
nav a.selected, nav a:hover {
  color: red;
}
/* site body*/
body {
    background-color: white;
    color: black;
}

/*************************************
FOOTER
**************************************/
 footer {
 font-size: 0.75em;
 text-align: center;
 clear: both;
 padding-top: 50px;
 color: #ccc;
 }
